:root {
  --heading-font-family: "Playfair Display", serif;
  --subheading-font-family: "Poppins", sans-serif;
  --background-color: #f9f7fe;
  --btn-background-color: #6c63ff;
}
h1 {
  font-family: var(--heading-font-family);
}
p {
  font-family: var(--subheading-font-family);
}
.hero {
  text-align: center;
  background-color: var(--background-color);
  padding: 150px 0;
}
.hero p {
  font-size: 36px;
  font-weight: 700;
  color: #272142;
  margin: 0;
}
.hero h1 {
  font-size: 96px;
}
.hero h2 {
  font-size: 24px;
  font-weight: 400;
  color: #272142;
}
.btn-branding {
  background: var(--btn-background-color);
  color: #ffffff;
  font-family: var(--subheading-font-family);
  font-weight: 500;
  font-size: 18px;
  border-radius: 4px;
  padding: 18px 30px;
  text-decoration: none;
  transition: 250ms;
}
.btn-branding:hover {
  cursor: pointer;
  color: var(--btn-background-color);
  background-color: var(--background-color);
}
